.form-wrapper {
    display: flex;
    /* max-width: 300px; */
    justify-content: center;
    padding-bottom: 50px;
}

form {
    display: grid;
    max-width: 300px;
    gap: 20px;
}

/* { display: "grid", maxWidth: "200px", gap: "20px" } */
