.header {
  width: 100%;
  align-items: center;
}

.header__container {
  max-width: 950px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container img {
  width: 220px;
  margin: 10px 15px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin: 10px 15px;
  cursor: pointer;
}

.nav__link {
  display: inline-block;
  color: #333;
  font-size: 22px;
  font-family: Karla;
}

.nav__link:hover {
  color: #e4b34c;
}



@media (max-width: 768px) {
  .header__container img {
    width: fit-content;
  }
  .nav__list {
    display: none;
  }

  .nav__mobile-burger {
    margin: 10px 15px;
    font-size: 25px;
    cursor: pointer;
  }

  .nav__link-mobile {
    display: inline-block;
    color: #333;
    font-size: 20px;
    font-family: Karla;
    margin: 16px 0;
    font-weight: 900;
  }

  .nav__link-mobile:hover {
    color: #fff;
  }
}
@media (min-width: 768px) {
  .nav__mobile-burger {
    display: none;
  }
}

.nav__mobile {
  transform: translateX(0);
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
  background-color: #e4b34c;
  position: fixed;
  right: 0;
  top: 3%;
  width: 75%;
  height: 97%;
  border-top-left-radius: 10px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.nav__mobile-closed {
  transform: translateX(+100%);
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  position: fixed;
  top: 3%;
  right: 0;
  width: 75%;
  height: 100%;
}

.nav__mobile-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__mobile-closeIcon {
  margin: 10px 15px;
  font-size: 35px;
  color: #333;
  cursor: pointer;
  align-self: flex-end;
}

